.plan-selection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13.75rem, 13.75rem));
  gap: 1.375rem 0.875rem;
  justify-content: center;
  align-content: start;
  padding-top: 1.125rem;
}
