button {
  border-radius: 0;
}

button:focus-visible {
  outline: var(--border-width-md) solid var(--color-primary);
  outline-offset: var(--space-3xs);
}

.visually-hidden {
  position: absolute;
  width: var(--border-width-thin);
  height: var(--border-width-thin);
  padding: 0;
  margin: calc(var(--border-width-thin) * -1);
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
