* {
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: var(--font-size-root);
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: var(--font-family-base);
  background: var(--color-page);
  color: var(--color-text);
}

button {
  font: inherit;
}
